
<div class="column">
  <div class="card">

    <%= form_with url:cart_index_path, method: :post do %>

      <div class="card-content">
        <p class="title">
          <% if show_link %>
            <%= link_to horse.name, horse %>
          <% else %>
            <%= horse.name %>
          <% end %>
        </p>

        <p>Breed: <%= link_to horse.breed.name, horse.breed %></p>
        <% if horse.image.present? %>
          <%# <%= image_tag horse.image %>
          <%= image_tag horse.image.variant(resize_to_limit: [285, 285]).processed %>
        <% end %>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          Age: <br><%= horse.age %>
        </p>
        <p class="card-footer-item">
          Legs: <br><%= horse.number_of_legs %>
        </p>
        <p class="card-footer-item">
          Speed: <br><%= horse.top_speed.round(2) %>
        </p>
        <%= hidden_field_tag(:id,horse.id) %>
        <%= button_tag 'Add to cart ✅' %>
      </footer>
    </div>
  <% end %>
</div>