<!DOCTYPE html>
<html>
  <head>
    <title>Horses</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>

  <body>
  <section class="section">
    <div class="container">
      <header>
        <h1 class="title is-1"><%= link_to 'Horses on Rails', root_path %></h1>
        <h2 class="subtitle is-4">Look at all the pretty horses standing in a <strong>row, row, row</strong>.</h2>
                  <%# <p>You have <%= pluralize cart.count, 'items' %> in your cart.</p> %>
      <%# <%= debug session[:shopping_cart]%>
      <%= link_to image_tag("HowToGit.jpg", width:250), root_path %>
      <ul>
        <li>Cart</li>
        <% if cart.present? %>
          <sup><%= cart.size %></sup>
          <ul>
            <% cart.each do |horse| %>
              <%= horse.name %><%= button_to '➖', cart_path(horse.id), method: :delete %>
            <% end %>
          </ul>
        <% end %>
      </ul>
      </header>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <%= render partial: 'shared/search_form' %>
      <%= yield %>
    </div>
  </section>
  </body>
</html>
